* {
    box-sizing: border-box;
}

body > header {
    text-align: center;
}

body {
    background: #FDFDF4;
    margin: auto;
    padding: 1em;
    font-family: sans-serif;
    font-size: 1.25em;
    color: #3C3C3C;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
    font-family: sans-serif;
    font-weight: bold;
    color: #222;
}

body > header h1 {
    margin: 1.3em 0;
}

h1 small {
  position: absolute;
  margin-left: 15px;
  font-size: 0.3em;
  font-weight: normal;
  opacity: 0.3;
}

a {
    color: #A72929;
    text-decoration: none;
}
a:hover {
    color: #880000;
}

body>header h1 {
    font-size: 2.2em;
}

body>header h2 {
    font-size: 1.1em;
    font-weight: normal;
}

body>footer {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 5em;
    padding-top: 2em;
    font-size: 0.7em;
}

body > footer .links a {
  white-space: nowrap;
}

.content ul {
  list-style-type: none;
  text-align: center;
}

.content li {
  display: inline-block;
  vertical-align: top;
  height: 200px;
  margin: 10px;
  max-width: 100%;
}
.content li.hidden {
  display: none;
}

.content li img {
  max-height: 200px;
  max-width: 100%;
}

.search input {
  display: block;
  width: 100%;
  max-width: 600px;
  font-size: 40px;
  padding: 10px 30px;
  margin: 100px auto;
  border: solid 1px rgba(164, 164, 79, 0.08);
  background: #FFFFE0;
  outline: none;
  color: #555;
  -webkit-transition: 0.2s;
     -moz-transition: 0.2s;
          transition: 0.2s;
}
.search input:focus {
  border-color: rgba(164, 164, 79, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}
.search input::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.04); }
.search input:-moz-placeholder { color: rgba(0, 0, 0, 0.04); }
.search input::-moz-placeholder { color: rgba(0, 0, 0, 0.04); }
.search input:-ms-input-placeholder { color: rgba(0, 0, 0, 0.04); }

.button {
  display: block;
  width: 100%;
  max-width: 600px;
  padding: 8px;
  border: solid 1px rgba(164, 164, 79, 0.08);
  color: #555;
  text-align: center;
  margin: 20px auto;
}
.button:hover {
  border-color: rgba(164, 164, 79, 0.6);
  color: #333;
}
.button.disabled {
  color: rgba(164, 164, 164, 0.5);
  border: solid 1px rgba(164, 164, 164, 0.08);
  cursor: default;
}
